.sidebar {
    background: var(--nav-bar-color);
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

i {
	padding-top: 20px;
}

.nav-bar-text {
	margin: 0;
}

.closed {
	i {
		display: visible;
	}
	p.nav-bar-text, h1 {
		display: none;
	}

}

.open {
	i {
		display: none;
	}
	p.nav-bar-text, h1 {
		display: visible;
	}
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
}

#nav-bar-title {
	z-index: 5;
	margin: 5;
	margin-bottom: 100px;
}

.nav-bar-link {
    padding-top: 20px;
}

#nav-bar-settings {
    margin-top: auto;
}