@import url('https://fonts.googleapis.com/css2?family=Clarity+City:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
  --bg: #1A2033;
  --nav-bar-color: #131824;
  --text: #ACB6C4;
  --header-font-family: "Clarity City", "Calibri";
  --text-font-family: "Open Sans", "Calibri";
  --header-size: 30px;
  --text-size: 15px;
  background: var(--bg);
}

h1, h2, p, a, span {
  color: var(--text);
  font-family: var(--text-font-family);
  cursor: default;
  padding: 0;
  font-size: var(--text-size);
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2 {
  font-family: var(--header-font-family);
  font-size: var(--header-size);
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
